body {
    background: #1B1B1B;
    font-family: "https://fonts.google.com/specimen/Jersey+25", sans-serif;
    color: #FFF;
}
.page-navigation {
    background-color: #1B1B1B;
    padding: 10px;
    display: flex;
    top: 0;
    z-index: 2;
    height: 55px;
}
.page-navigation p {
    display: flex;
    justify-content: left;
    position: absolute;
    margin-left: 35px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 35px;
}
.circle {
    height: 35px;
    width: 35px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-top: 5px;
}
.page-navigation ul, li {
    display: flex;
    z-index: 3;
    width: 400px;
    list-style-type: none;
    font-weight: bold;
    font-size: 25px;
    margin-left: auto;
    position: relative;
    top: 0;
}
ul, li {
    list-style-type: none;
    padding: 0;
    display: inline;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #FFF;
}
.header{
    background-image: url('/images/Blackimg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    text-align: center;
    position: relative;
    height: 290px;
}
.header h1{
    color: #FFF;
    font-size: 50px;
    margin: 100px auto;
    text-shadow: 2px 2px 4px #000;
    font-family: "https://fonts.google.com/specimen/Jersey+25", sans-serif;
    text-align: center;
}

.container-why {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    background-color: #1B1B1B;
    border-radius: 10px;
    position: relative;
    padding: 50px;
}
.container-why h2 {
    position: absolute;
    top: -20px;
    left: 0;
    z-index: 2;
    color: #FFF;
    font-size: 40px;
    text-shadow: 2px 2px 4px #000;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
}
.container-why h3{
    color: #FFF;
    font-size: 32px;
    text-shadow: 2px 2px 4px #000;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    margin: 0;
}
.container-why p {
    color: #FFF;
    font-size: 24px;
    margin: 0;
    text-shadow: 2px 2px 4px #000;
    font-family: sans-serif;
}

.container-why .content {
    max-width: 800px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.container-why .box {
    display: flex;
    flex-direction: column;
    background-color: #3a3a3a;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-why img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.container-ready {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #252525;
    border-radius: 10px;
    position: relative;
    padding: 50px;
    background-image: url('/images/ReadyNegro.webp');
    background-size: cover;
    background-position: center;
}
.container-ready h2 {
    position: absolute;
    top: -20px;
    right: 0;
    left: auto;
    z-index: 2;
    color: #FFF;
    font-size: 90px;
    text-shadow: 2px 2px 4px #000;
    font-family: sans-serif;
    text-align: right;
    margin-right: 280px;
    margin-top: 100px;
    width: 100%;

}
.container-ready a{
    background-color: #2B2B2B;
    border: 1px solid #FFF;
    border-radius: 5px;
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BE9ECA;
    font-size: 48px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: 300px;
}
.container-ready a:hover {
    background-color: #FFF;
    color: #2B2B2B;
    transition: 0.3s;
}